*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: poppins, sans-serif;
    scroll-behavior: smooth;
}
body{
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--latar);
}
:root{
    --latar	: #FFEFCF ;
    --utama	: #170C08 ;
    --utama-hover : #36241d ;
    --gold	: #cc8d36 ;
    --kotak	: #FFEAC2 ;
    --kotak-hover	: rgb(23, 12, 8, 0.03) ;
    --navlist : rgba(255, 239, 207, 0.06);
    --dropdown : rgb(23, 12, 8, 0.9);
    --btn-harga : rgb(23, 12, 8, 0.65);
    --smooth-shadow : 0px 6px 15px -1px rgba(0,0,0,0.1);

}
::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-track {
    background: var(--latar);
}
::-webkit-scrollbar-thumb {
    background: rgb(83, 69, 64);
    border-radius: 10px;
    transition: all .60s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: #170C08;
    transition: all .20s ease;
}

@keyframes showDropdown {
    0%{
        transform: scale(0);
        transform: translateY(-30px);
        z-index: -1;
    }
    100%{
        transform: scale(1);
        transform: translateY(0px);
        z-index: 0;

    }
}
@keyframes showNav {
    0% { 
        opacity: 0;
        transform: translateY(-10px);
      }
    
      100% {
        opacity: 1;
        transform: translateY(0);
      }
}

@keyframes shakeBtn{
    0%{
        transform: translateY(-1.5px);
    }
    50%{
        transform: translateY(1.5px);
    }
    100%{
        transform: translateY(-1.5px);
    }
}
@keyframes swipeBtn{
    0%{
        transform: translateX(-1.5px);
    }
    50%{
        transform: translateX(1.5px);
    }
    100%{
        transform: translateX(-1.5px);
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
}

/* navigasi */
.navigasi{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    background: var(--latar);
    width: 97vw;
    border-radius: 0px 0px 35px 35px;
    /* border: 1px solid var(--utama); */

}

.penutup{
    background: var(--latar);
    height: 15px;
    width: 97vw;
    transition: all .1s ease;
}

.on-scroll-penutup{
    height: 5px;
}

header{
    background: var(--utama);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97vw;
    border-radius: 20px;
    padding: 10px 5%;
    position: relative;
}

.logo{

}

.dlogo img{
    height: 70px;
}

.mlogo img{
    display: none;
}

.navlist{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--navlist);
    border-radius: 50px;
    padding: 7px;
    column-gap: 13px;
    width: auto;
}

.navlist li{
    position: relative;
    /* background: #000; */
    border-radius: 25px;
    padding: 3px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .45s ease;
}
.navlist li:hover{
    background: var(--navlist);
}
.navlist li.aktif{
    background: var(--latar);
    color: var(--utama);
}
.navlist li.aktif a{
    color: var(--utama);
    font-weight: 600;
    font-size: 16px;
}
.navlist a{
    color: var(--latar);
    font-size: 16px;
    font-weight: 400;
    transition: all .45s ease;
}

.burger-menu{
    /* background: red; */
    display: none;
}
.burger-menu ion-icon{
    font-size: 35px;
    color: var(--latar);
    display: block;
}

/* dropdown */
.navlist li.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .45s ease;
}

.dropdown-learn{
    animation: showDropdown .4s;
    display: none;
    flex-direction: column;
    row-gap: 13px;
    justify-content: center;
    align-items: center;
    background: var(--utama);
    border: 2px solid var(--navlist);
    border-radius: 10px;
    width: 175px;
    padding: 15px 10px;
    position: absolute;
    top: 0;
    margin-top: 110px;
    margin-right: 135px;
    transition: all .45s ease;
    z-index: 0;
}
.dropdown-learn:hover{
    display: flex;
}

.show-dropdown{
    display: flex;
}
.show-tombol-dropdown{
    background: var(--navlist);
}

.show-nav-mobile{
    display: block;
}

.nav-mobile{
    display: none;
    animation: showNav .4s;
    width: 100%;
    position: absolute;
    margin-top: 57px;
    width: 96vw;
    border-radius: 0px 0px 15px 15px;
    padding: 20px 7%;
    background: var(--utama);
    top: 0;
    right: 0;
    transition: all .45s ease;
}

@media (max-width:1690px) {
}
@media (min-width:768px) and (max-width : 991px){
    /* navigasi */
    .on-scroll-penutup{
        height: 15px;
    }
    header{
        border-radius: 20px;
        padding: 20px 5%;
    }
    .dlogo img{
        height: 60px;
        display: none;
    }
    .mlogo img{
        display: block;
        height: 40px;
    }
    .navlist{
        column-gap: 10px;
        width: auto;
    }

    .navlist li{
        width: 100px;
    }
    
    /* dropdown */
    .dropdown-learn{
        position: absolute;
        top: 0;
        margin-top: 110px;
        margin-right: 125px;
        transition: all .45s ease;
        z-index: 0;
    }
    .dropdown-learn li{
        width: 120px;
    }

    
}
@media (max-width : 767px){
    /* navigasi */
    .navigasi{
        width: 96vw;
        border-radius: 0px 0px 25px 25px;
    }

    .penutup{
        height: 8px;
        width: 96vw;
    }
    .on-scroll-penutup{
        height: 8px;
    }

    header{
        width: 96vw;
        border-radius: 15px;
        padding: 16px 7%;
        z-index: 1;
    }
    .dlogo img{
        height: 45px;
        display: none;
    }

    .mlogo img{
        display: block;
        width: 135px;

    }

    .navlist{
        display: none;
    }

    .burger-menu{
        padding: 3px;
        border-radius: 50px;
        display: inline-block;
        cursor: pointer;
        transition: all .45s ease;
    }
    .burger-menu:hover{
        background: var(--navlist);
        padding: 3px;
        border-radius: 50px;
        display: inline-block;
        cursor: pointer;
    }
    .burger-menu ion-icon{
        font-size: 35px;
        color: var(--latar);
        display: block;
        transition: all .45s ease;
    }

    .show-nav-mobile{
        display: block;
    }

    .nav-mobile{
        /* display: none; */
        animation: showNav .4s;
        width: 100%;
        position: absolute;
        margin-top: 57px;
        width: 96vw;
        border-radius: 0px 0px 15px 15px;
        padding: 20px 7%;
        background: var(--utama);
        top: 0;
        right: 0;
        z-index: -100;
        transition: all .45s ease;

    }
    .navlist-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 13px;
        transition: all .45s ease;

    }
    .navlist-mobile li{
        position: relative;
        /* background: #000; */
        border-radius: 10px;
        padding: 8px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .45s ease;
    }
    .navlist-mobile li:hover{
        background: var(--navlist);
    }
    .navlist-mobile li.aktif{
        background: var(--latar);
        color: var(--utama);
    }
    .navlist-mobile li.aktif a{
        color: var(--utama);
        font-weight: 600;
        font-size: 16px;
    }
    .navlist-mobile a{
        color: var(--latar);
        font-size: 16px;
        font-weight: 400;
        transition: all .45s ease;
    }
    /* dropdown */

    .navlist-mobile li.dropdown-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .45s ease;
    }
    /* .navlist-mobile li.dropdown-mobile:hover + .dropdown-mobile-learn{
        display: flex;   
    } */
    
    .dropdown-mobile-learn{
        /* animation: showDropdown .4s; */
        display: none;
        flex-direction: column;
        row-gap: 13px;
        justify-content: center;
        align-items: center;
        background: var(--navlist);
        border: 0px solid var(--navlist);
        border-radius: 10px;
        padding: 13px 20px;
        width: 100%;
        z-index: 0;
        transition: all .45s ease;

    }
    .dropdown-mobile-learn:hover{
        display: flex;
    }
    .show-dropdown-mobile{
        display: flex;
    }
    .show-tombol-dropdown{
        background: var(--navlist);
    }
}

section{
    width: 97vw;
    padding: 0px 5%;
    margin: 77px auto;
}

/* hero */
.page-1{
    position: relative;
    /* background: purple; */
    /* background-image: url("../Aset/Hero-Banner/Hero-A.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 3% 0%;
    height: auto;
    margin: 77px auto 0px auto;    
}
.page-1-content{
    /* background-color: pink; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-1-content h5{
    color: var(--utama);
    font-family: poppins, sans-serif;
    font-weight: 400;
    /* text-transform: uppercase; */
    font-size: 16px;
    margin:60px 0px 0px 0px;
}
.page-1-content h3{
    color: var(--utama);
    font-size: 60px;
    width: 800px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0px 0px 50px 0px;
}
.banner{
    width: 100%;
    height: 100%;
    min-height: 100px;
    border-radius: 20px;
    object-fit: cover;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
}


/* page-2 */
.page-2{
    background: var(--latar);
    position: relative;
    border-radius: 20px;
    padding: 5%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.page-2-judul{
    /* position: absolute; */
    /* top: 0; */
    /* margin-top: -154px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    background: var(--latar);
    border-radius: 20px;
    box-shadow: var(--smooth-shadow);
    padding: 50px;
    border-bottom: 4px solid var(--utama);
    transition: all .45s ease;
    /* animation: showDropdown .5s; */
}
.page-2-judul ion-icon{
    color: var(--utama);
    font-size: 30px;
}
.page-2-judul p{
    color: var(--utama);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    width: 600px;
}

/* search bar */
.container-search{
    margin: 0px 0px 77px 0px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=text] {
    border-radius: 20px ;
    width: 100%;
    /* height: 75px; */
    font-size: 16px; 
    padding: 30px 40px; 
    outline: none;
    border: 0px;
    border-bottom: 4px solid rgb(23, 12, 8, 0.6);
    position: relative;
    box-shadow: var(--smooth-shadow);
    background: var(--latar);
    color: var(--utama);
    font-weight: 500;
    /* transition: all .45s ease; */
}
input[type=text]:focus {
    border-bottom: 4px solid var(--utama); 
}
::placeholder{
    opacity: 70%;
    font-weight: 500;
    color: var(--utama);
}
.icon-search{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(23, 12, 8, 0.85);
    border-radius: 15px;
    padding: 12px 20px;
    cursor: pointer;
    tranasition: all .45s ease;
    column-gap: 10px;
    width: auto;
    position: absolute;
    right: 0;
    margin-right: 18px;
}
.icon-search:hover{
    background: var(--utama);
}
.icon-search p {
    color: var(--latar);
    font-size: 16px;
    font-weight: 400;
}
.icon-search ion-icon{
    font-size: 25px;
    color: var(--latar);
}



.container-jenis{
    /* background: red; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: auto;
    gap: 30px 30px;
}
.kotak-jenis{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: auto;
    padding: 0px;
    background-color: var(--latar);
    /* background: pink; */
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all .45s ease;
    border-bottom: 4px solid var(--utama);
    box-shadow: var(--smooth-shadow);
}
.kotak-jenis:hover,
.kotak-toko:hover{
    background: var(--kotak-hover);
}
.kotak-jenis img{
    height: 100%;
    max-height: 240px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.kotak-jenis-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 350px; */
    padding: 25px;
}
.kotak-jenis-judul{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.kotak-jenis-judul h5{
    color: var(--utama);
    font-size: 30px;
    font-weight: 900;
}
.sub-jenis{
    color: var(--utama);
    font-size: 14px;
    font-weight: 600;
}
.text-jenis{
    color: var(--utama);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
    opacity: 80%;

}
.baris-harga{
    display: flex;
    /* background: red; */
    align-items: center;
    column-gap: 20px;
}
.harga{
    display: flex;
    flex-direction: column;
    background: var(--dropdown);
    border-radius: 10px;
    padding: 6px 12px;
}
.sub-harga{
    color: var(--latar);
    font-size: 9px;
    font-weight: 400;
}
p.text-harga{
    color: var(--latar);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;  
}

/* Responsive Main Page */
@media (max-width:1690px) {
}
@media (min-width:768px) and (max-width : 991px){
    section{
        width: 97vw;
        padding: 0px 5%;
        margin: 50px auto;
    }

    .page-1{
        background: var(--latar);
        /* background: pink; */
        border-radius: 20px;
        padding: 5% 0%;
        height: auto;
        margin: 50px auto 0px auto;

        /* row-gap: 1000px; */
    }
    .page-1-content{
        padding: 10% 5%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background:purple; */
    }
    .page-1-content h5{
        color: var(--utama);
        font-size: 16px;
        margin:0px 0px 0px 0px;
        font-weight: 500;
    }
    .page-1-content h3{
        color: var(--utama);
        font-size: 50px;
        width: 700px;
        margin: 0px 0px 50px 0px;
    }
    .banner{
        display: none;
        width: 100%;
        height: 100%;
        min-height: 100px;
        border-radius: 20px;
        object-fit: cover;
        -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        mask-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
    }
    .page-2-judul{
        top: 0;
        border-radius: 20px;
        padding: 50px;
        animation: none;
        display: flex; width : 100%;
    }

    /* page-2 */
    /* search bar */
    .container-search{
        margin-top: -50px;
        margin-bottom: 50px;
    }
    input[type=text] {
        font-size: 16px; 
        padding: 30px 40px; 
    }
    .icon-search{
        padding: 12px 20px;
        margin-right: 18px;
    }

    .container-jenis{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }
    .kotak-jenis img{
        max-height: 260px;
    }
    .kotak-jenis-judul h5{
        font-size: 25px;
    }
    .sub-jenis{
        font-size: 12px;
    }
    .text-jenis{
        font-size: 14px;
        margin-bottom: 40px;
    }
    .baris-harga{
        column-gap: 15px;
    }
    .harga{
        border-radius: 10px;
        padding: 6px 12px;
    }
    .sub-harga{
        font-size: 9px;
        font-weight: 400;
    }
    p.text-harga{
        font-size: 14px;
        letter-spacing: 1px;  
    }
}
@media (max-width : 767px){
    section{
        width: 96vw;
        padding: 0px 7%;
        margin: 50px auto;
    }

    /* hero */
    /* hero */
    .page-1{
        background: var(--latar);
        /* background: pink; */
        border-radius: 15px;
        padding: 7% 0%;
        height: 40vh;
        margin-bottom: 60px;
    }
    .page-1-content{
        /* background: paleturquoise; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .page-1-content h5{
        color: var(--utama);
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 14px;
        margin: 0px;
    }
    .page-1-content h3{
        color: var(--utama);
        font-size: 25px;
        width: 350px;
        margin: 0px;
    }
    .banner{
        display: none;
    }
    

    /* page-2 */
    /* search bar */
    .page-2{
        border-radius: 15px;
        padding: 7%;
    }
    .page-2-judul{
        display: none;
        animation: none;
    }
    .on-scroll-judul{
        display: none;
    }
    .page-2-judul ion-icon{
        color: var(--utama);
        font-size: 18px;
    }
    .page-2-judul p{
        color: var(--utama);
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        width: auto;
    }
    .container-search{
        margin-top: -100px;
        margin-bottom: 50px;
    }
    input[type=text] {
        border-radius: 15px ;
        font-size: 14px; 
        padding: 15px 30px; 
        border: 1px solid rgb(23, 12, 8, 0.1);
    }
    input[type=text]:focus {
        border: 1px solid var(--utama);
    }
    .icon-search{
        border-radius: 10px;
        padding: 8px;
        margin-right: 10px;
    }
    .icon-search p {
        display: none;
    }
    .icon-search ion-icon{
        font-size: 20px;
    }
    .container-jenis{
        /* margin-top: -60px; */
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        height: auto;
        row-gap: 50px ;
    }
    .kotak-jenis{
        border-radius: 15px;
        height: min-content;
    }
    .kotak-jenis img{
        height: 100%;
        max-height: 200px;
        border-radius: 15px;
    }
    .kotak-jenis-content{
        padding: 25px;
    }
    .kotak-jenis-judul{
        margin-bottom: 15px;
    }
    .kotak-jenis-judul h5{
        font-size: 18px;
    }
    .sub-jenis{
        font-size: 12px;
    }
    .text-jenis{
        font-size: 12px;
        margin-bottom: 25px;
        opacity: 80%;
    }
    .baris-harga{
        column-gap: 15px;
    }
    .harga{
        border-radius: 8px;
        padding: 5px 12px;
    }
    .sub-harga{
        font-size: 7px;
    }
    p.text-harga{
        font-size: 12px;
    }
}

/* footer */
.footer:nth-child(even) {
    background: var(--utama);
    position: relative;
    border-radius: 20px 20px 0px 0px;
    padding: 80px 5% 130px;
}
.footer:nth-child(odd) {
    background: var(--utama);
    position: relative;
    border-radius: 0px 0px 0px 0px;
    padding: 30px 5%;
    margin-top: -74px;
    margin-bottom: 0px;
}
.footer:nth-child(even) .container-footer{
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    /* background: red; */
}
.footer:nth-child(odd) .container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.kotak-footer{
    /* background: green; */
    display: flex;
    flex-direction: column;
    align-items: start;
}
.kotak-footer img.logo-footer {
    height: 70px;
    margin-bottom: 5px;
    opacity: 100%;
}
.kotak-footer a{
    transition: all .45s ease;
    opacity: 55%;
}
.kotak-footer a:hover{
    transform: scale(1.02);
    opacity: 100%;
    font-weight: 500;
}
.kotak-footer h6{
    color: var(--latar);
    font-family: poppins, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;

}
.text-footer{
    color: var(--latar);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
}
.text-footer-bawah{
    color: var(--latar);
    font-size: 14px;
    font-weight: 500;
}

@media (max-width:1690px) {
}
@media (min-width:768px) and (max-width : 991px){
    /* footer */
    .footer:nth-child(even) {
        padding: 50px 5%;
    }
    .footer:nth-child(even) .container-footer{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 10px 50px; 
        grid-template-areas: 
            "logo-footer logo-footer"
            "b c"
            "d e"; 
        /* background: red; */
    }
    .kotak-footer:nth-child(1){
        grid-area: logo-footer;
        margin-bottom: 40px;
    }
    .kotak-footer:nth-child(2){
        grid-area: b;
    }
    .kotak-footer:nth-child(3){
        grid-area: c;
    }
    .kotak-footer:nth-child(4){
        grid-area: d;
    }
}
@media (max-width : 767px){
    /* footer */
    .footer:nth-child(even) {
        border-radius: 15px 15px 0px 0px;
        padding: 30px 7%;
    }
    .footer:nth-child(odd) {
        padding: 20px 7%;
    }
    .footer:nth-child(even) .container-footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        /* grid-column-gap: 50px; */
        grid-row-gap: 30px;
        /* background: red; */
    }
    .kotak-footer img.logo-footer {
        height: 50px;
        margin-bottom: 2px;
        opacity: 100%;
    }
    .text-footer{
        font-size: 13px;
        margin-bottom: 6px;
    }
    .text-footer-bawah{
        color: var(--latar);
        font-size: 13px;
        font-weight: 400;
    }
}